@charset="uTF-8";
/*Caso haja problema com acentuaçao*/

Body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
    color: green;
    font-size: 12pt;
} h1{
    color: red;
}h2{
    color: blue;
}